*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--primary);
}
a:hover {
  text-decoration: none;
  color: var(--primary-hover);
  transition: fill 0.2s ease-in-out;
}
img {
  width: 100%;
  object-fit: cover;
}
/* Tex классы */
.wrapper {
  max-width: 1950px;
  margin: 0 auto;
}
.container {
  max-width: 1465px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn--primary {
  display: inline-block;
  font-family: var(--font-family);
  background: var(--button);
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  border-radius: 5px;
  padding: 15px 35px;
  border: none;
}
.btn--primary:hover,
.btn--primary:focus {
  background-color: var(--btn-hover);
  color: #fff;
  transition: 0.2s ease-in-out;
}
.btn--primary:active {
  background-color: var(--btn-hover);
}
.btn--second {
  display: inline-block;
  color: var(--title);
  background-color: #fff;
  font-family: var(--font-family);
  border: 3px solid var(--button);
  border-radius: 5px;
  padding: 20px 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}
.btn--second:hover,
.btn--second.focus {
  color: var(--btn-hover);
  transition: 0.2s ease-in-out;
}
.btn--second:active {
  color: var(--btn-hover);
}

.title--h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 68px;
  line-height: 121%;
  color: var(--title);
}
.title--h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 58px;
  line-height: 117%;
  color: var(--title);
}
.title--h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 63%;
  color: var(--title);
}
.subtitle {
  font-weight: 500;
  line-height: 110%;
  color: #fff;
}

.desc--h1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 156%;
  color: #4e616d;
}
.desc--h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #4e616d;
}
.desc--h3 {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 156%;
  color: #4e616d;
}
