:root {
  --primary: #ffa638;
  --primary-hover: #ff8c00;
  --title:#0b0b0b;
  --title2:#000;
  --desc:#000;
  // Пагинация свайпера
  --swiper-pagination-color:#020202;
  --swiper-pagination-bullet-border-radius: 5px;
  --swiper-pagination-bullet-horizontal-gap:10px;
  --swiper-pagination-bullet-opacity:1;
  --swiper-pagination-bullet-inactive-opacity:0.3;
}